@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400&family=Ubuntu+Mono&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 0, 0, .99);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-mono: 'Ubuntu Mono', monospace;
  --font-serif: 'Cormorant Infant', serif;
  overflow-y: scroll;
}

body {
  margin: 0;
}

#root {
  margin: 0;
  text-align: center;
}

.headline {
  display: flex;
  flex-flow: column nowrap;
}

.headline>h1 {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 100%;
}

.synthetic,
.rain {
  cursor: pointer;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.synthetic {
  display: flex;
  font-family: var(--font-mono);
  font-weight: 300;
  font-size: 99%;
}

.synthetic:hover {
  outline: 2px solid black;
}
.bar {
  font-weight: 100;
}

.rain {
  display: flex;
  font-family: var(--font-serif);
  background-color: rgba(255, 255, 255, .87);
  color: black;
}

nav {
  padding-top: 3rem;
  padding-bottom: 2rem;
  overflow-x: scroll;
}

.nav-scroll-wrapper {
  min-width: 200vw;
  margin: 0 auto;
}

.nav-scroll-wrapper p {
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 2rem;
}

.poem-date {
  font-size: 1rem
}

.poem-title {
  font-size: 2rem
}

.poem-body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: left;
  max-width: 75%;
  margin: auto;
  z-index: 3;
}

.poem-body>section {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.2rem;
  max-width: 600px;
}

.poem-body>section>p {
  margin: .3rem auto;
  white-space: nowrap; 
}

.signature {
  text-align: right;
  margin-right: 30%;
}
